//custom variables
$secondary: #dedede;

* {
  outline: none !important;
}

html,
body {
  height: 100%;
}
body {
  height: 100%;
}

.container-x {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  width: 100vw;
  // min-height: 700px;
  // height: auto;
  padding: 0 0 30px 0;
  background-color: #3a3261;
  margin: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.btnConvert {
  background-color: #415eff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  outline: none !important;
  color: #f4f4f4;
  border: none;
}

.display {
  display: flex !important;
  width: 100%;
  height: 0px;
  border-radius: 5px;
  background: #613259;
  // box-shadow: 7px 4px 4px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.display__show {
  height: 350px;
  margin-bottom: 50px;
}

.display > img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.custom-select {
  background-image: none !important;
  -webkit-appearance: none;
}
//-------------------

// /* Chrome, Safari, Edge, Opera */
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// /* Firefox */
// input[type="number"] {
//   -moz-appearance: textfield;
// }

// .dropdown-menu {
//   max-height: 300px; /* you can change as you need it */
//   overflow: auto;
//   scrollbar-color: #415eff #3a3261;
//   scrollbar-width: thin;
// }

// .form-group {
//   height: 50%;
// }

@media only screen and(min-width:650px) {
  .container-x {
    width: 500px;
  }
}
