// html,
// body {
//   //   height: 100%;
// }

// .form-login {
//   //   width: 100%;
//   //   max-width: 330px;
//   //   padding: 10px;
//   //   margin: auto;
// }

//custom variables
$secondary: #dedede;

.form-login {
  width: 500px;
  background-color: darken($color: #fdbaba, $amount: 0);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
